body, h1, h2, ul, li, p, dd, dt, dl {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  *, 
  *:after,
  *:before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    background: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
  }
  
  .menu {
    background: #FB5;
    max-width: 1300px;
    margin: 2rem 0 2rem auto;
  }
  
  .menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
  }
  
  .section {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    margin: 0 auto 4rem auto;
  }
  
  .titulo {
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #E54;
  }
  
  .animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
  }
  
  .animais p {
    font-family: Helvetica, Arial;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .flex-animais{
    display: flex;
    margin-top: 40px;
  }
  
  .animais-lista {
    height: 376px;
    min-width: 300px;
    margin-left: 100px;
    overflow-y: scroll;
  }
  
  .animais-lista li{
    cursor: pointer;
  }
  
  .animais-lista::-webkit-scrollbar {
    width: 18px;
  }
  
  .animais-lista::-webkit-scrollbar-thumb {
    background: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
  }
  
  .animais-lista::-webkit-scrollbar-track {
    background: #faf6ed;
  }
  
  .animais-descricao {
    padding-left: 15px;
  }
  
  .js [data-tab="content"] section {
    display: none;
    margin-bottom: 3rem;
  }
  
  [data-tab="content"] section.active{
    display: block;
    animation: show .5s forwards;
  }
  
  @keyframes show {
    from{
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .faq-lista {
    margin-left: 100px;
    margin-top: 40px;
  }
  
  .faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #E54;
    cursor: pointer;
  }
  
  .faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
  }
  
  .faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px;
  }
  
  .js [data-anime="accordion"] dd{
    display: none;
  }
  
  [data-anime="accordion"] dt::after{
    content: '⮟';
    margin-left: 10px;
  }
  
  [data-anime="accordion"] dt.active::after{
    content: '⮝';
  }
  
  [data-anime="accordion"] dd.active{
    display: block;
    animation: slideDown .5s forwards;
  }
  
  @keyframes slideDown{
    from{
      opacity: 0;
      transform: translate3d(0, -10px, 0);
      max-height: 0;
  
    }
    to{
      opacity: 1;
      transform: translate3d(0, 0, 0);
      max-height: 200px;
    }
  }
  
  .flex-contato{
    display: flex;
    margin-top: 40px;
  }
  
  .mapa {
    max-width: 300px;
    margin-left: 100px;
  }
  
  .dados {
    margin-left: 15px;
  }
  
  .dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial;
  }
  
  .dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
  }
  
  .copy {
    background: #FB5;
    max-width: 1300px;
    margin: 2rem 0 2rem auto;
  }
  
  .copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
  }
  
  .js [data-anime="scroll"] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .3s;
  }
  
  .js [data-anime="scroll"].active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  [data-semana]::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #E54;
    margin-left: 4px;
  }

  [data-semana].aberto::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #3F4;
    margin-left: 4px;
  }

  .invalido{
    border: 1px solid red;
  }
  
  @media (max-width: 700px) {
    .section h1 {
      font-size: 3rem;
    }
    .menu {
      margin-top: 0px;
      padding: 10px;
    }
    .copy {
      margin-bottom: 0px;
    }
    .animais-lista{
      margin-left: unset;
      min-width: unset;
      max-width: 100px;
    }
    .faq-lista{
      margin-left: unset;
    }
    .mapa{
      margin-left: unset;
    }
    .flex-contato{
      flex-direction: column;
    }
    .mapa{
      max-width: unset;
    }
    .dados{
      margin-top: 15px;
      margin-left: unset;
    }
  }