.numeros-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-top: 40px;
}

.numeros-flex h3 {
  font-family: var(--playfair-font);
  font-size: 2rem;
  margin-bottom: .5rem;
}

.numeros-flex span {
  font-family: var(--ibm-font);
  font-weight: bold;
  font-size: 1.5rem;
  color: #E54;
}

.numero-animal{
  width: calc(50% - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .numeros-flex {
    margin-left: unset!important;
    margin-top: unset!important;
  }
  .numeros-flex h3 {
    font-size: 1.5rem;
  }
}
